@using JDSCommon.Database.DataContract
@model EventViewModel

@{
	ViewData["Title"] = Model.Event.Title;
}

<a class="btn btn-primary" href="@Url.Action("Update", "Event", new { id = Model.Event.Id })">Modifier</a>
<a class="btn btn-danger" href="@Url.Action("Delete", "Event", new { id = Model.Event.Id })">Supprimer</a>

<table>
	<tr>
		<td>@Model.Event.Title</td>
	</tr>
	<tr>
		<td>@Model.Event.Description</td>
	</tr>
	<tr>
		<td>@Model.Event.StringDate</td>
	</tr>
</table>

@foreach (Image img in Model.Event.Images)
{
	<img src="@img.URL" alt="@img.Alt">
}