@using JDSCommon.Database.DataContract;

@model EventViewModel

@{
	ViewData["Title"] = Model.Event.Title;
	ViewData["Active"] = "event";

	ERole role = (ERole)(Context.Session.GetInt32(UserViewModel.SessionKeyUserRole) ?? -1); //ERole role = ERole.Admin;
}

<div class="container">
	<div class="card mt-3 mb-3">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="@Model.Event.Images.FirstOrDefault()?.URL" class="img-fluid rounded-start" alt="@Model.Event.Images.FirstOrDefault()?.Alt">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">@Model.Event.Title - @Model.Event.StringDate</h5>
					<p class="card-text">@Model.Event.Description</p>

					@if (role >= ERole.Manager)
					{
						<a asp-controller="Event" asp-action="Update" asp-route-id="@Model.Event.Id" class="btn btn-primary">Modifier</a>
						<a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Event.Id" class="btn btn-danger">Supprimer</a>
					}

				</div>
			</div>
		</div>
	</div>

	<div id="jds-cardContainer">

		@foreach (var image in Model.Event.Images)
		{
			<div id="inputImage" class="card mb-3">
				<img src="@image.URL" class="card-img-top" alt="@image.Alt">
			</div>
		}

	</div>
</div>