@{
	ViewData["Title"] = "Modifier un événement";
}

@model EventViewModel

<div class="text-center my-4">
	<h1>Modifier un événement</h1>
</div>

<div id="jds-update-event-background"></div>

<div id="jds-update-event-container" class="d-flex justify-content-center">
	<form class="jds-create-event" enctype="multipart/form-data" method="post" asp-controller="Event" asp-action="ParseUpdate">
		<input type="hidden" name="id" value="@Model.Event.Id" />
		<div class="mb-3">
			<label for="title" class="form-label">Titre</label>
			<input id="title" name="title" class="form-control" value="@Model.Event.Title" type="text" required placeholder="Titre" aria-label="Titre">
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Description</label>
			<textarea class="form-control" id="description" name="description" placeholder="Description" rows="3">@Model.Event.Description</textarea>
		</div>
		<div class="mb-3">
			<label for="date" class="form-label">Date</label>
			<input id="date" name="date" class="form-control" value="@Model.Event.StringInputDate" type="date" required>
		</div>

		<label class="form-label">Gallerie des images</label>

		<div id="jds-cardContainer">

			@foreach (var image in Model.Event.Images)
			{
				<div id="inputImage" class="card mb-3">
					<img src="@image.URL" class="card-img-top">
					<div class="card-body">
						<a href="@Url.Action("DeleteImage", "Event", new {imageId = image.Id, eventId = Model.Event.Id})" id="removeImage" class="btn btn-danger">Supprimer</a>
					</div>
				</div>
			}

		</div>

		<div class="mb-3">
			<label for="images" class="form-label">Ajouter des images</label>
			<input class="form-control" type="file" id="images" accept=".jpg, .jpeg, .png" name="files" multiple>
		</div>

		<button type="submit" class="btn btn-success">Modifier</button>
	</form>
</div>

@section Scripts
	{
	<script>
		$(document).on('click', '#removeImage', function () {
			$(this).closest('#inputImage').remove();
		});
	</script>
 }
