@using JDSCommon.Database.DataContract
@{
    ViewData["Title"] = "Nos produits";
    ViewData["Active"] = "society";
    ViewData["MobileActive"] = "products";
}

@model ShopViewModel

<div id="jds-products" class="container">
    <div class="text-center my-4">
        <h1>Produits</h1>
    </div>
    <div class="d-flex flex-column align-items-center">

        @foreach (ClothType type in Model.ClothTypes)
        {
            <form class="jds-product-card">
                <input type="hidden" name="cloth_type_id" />
                <div class="jds-product-img-box">
                    <img src="#" />
                </div>
                <div class="jds-product-details">
                    <h3>
                        @type.Name<br />
                        <span>@type.Color.Name</span>
                    </h3>
                    <h4>Détails</h4>
                    <p>@type.Description</p>
                    <h4>Tailles</h4>
                    <ul class="jds-product-size">
                        @foreach (ClothSize size in Model.ClothSizes)
                        {
                            <li>
                                <input type="radio" name="size" id="@size.Shortcut" required />
                                <label for="@size.Shortcut">@size.Shortcut</label>
                            </li>
                        }
                    </ul>
                    <div class="jds-product-buy">
                        <h2><sup>CHF</sup>@type.Price<small>.99</small></h2>
                        <button type="submit" class="jds-button jds-info">
                            Acheter
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                        </button>
                    </div>
                </div>
            </form>
        }

        @*<form class="jds-product-card">
        <div class="jds-product-img-box">
        <img src="~/img/jds_store.png" />
        </div>
        <div class="jds-product-details">
        <h3>
        T-Shirt<br />
        <span>Bleu</span>
        </h3>
        <h4>Détails</h4>
        <p>Lorem ipsum je sais pas quoi mettre</p>
        <h4>Tailles</h4>
        <ul class="jds-product-size">
        <li>
        <input type="radio" name="size" id="XS" required />
        <label for="XS">XS</label>
        </li>
        <li>
        <input type="radio" name="size" id="S" />
        <label for="S">S</label>
        </li>
        <li>
        <input type="radio" name="size" id="M" />
        <label for="M">M</label>
        </li>
        <li>
        <input type="radio" name="size" id="L" />
        <label for="L">L</label>
        </li>
        <li>
        <input type="radio" name="size" id="XL" />
        <label for="XL">XL</label>
        </li>
        <li>
        <input type="radio" name="size" id="XXL" />
        <label for="XXL">XXL</label>
        </li>
        </ul>
        <div class="jds-product-buy">
        <h2><sup>CHF</sup>199<small>.99</small></h2>
        <button type="submit" class="jds-button jds-info">
        Acheter
        <span class="top"></span>
        <span class="right"></span>
        <span class="bottom"></span>
        <span class="left"></span>
        </button>
        </div>
        </div>
        </form>*@
    </div>
</div>